body {
background-color: black;
}

#chat-wrapper {
  min-width:275px;
  height:100%;
  border-left:1px solid white;
  order:3;
  flex:1 100%;
}

#chat {
  color:white;
  width:100%;
}

#chat-input {
  bottom:0;
  position:fixed;
  width:100%;
  color:white;
  background-color:black;
}

#game {
  display:flex;
  margin-right: calc(100% - 275px);
}

#board {
  order:1;
  width:800px;
  height:600px;
  background-color:#141414;
}

#players {
  order:2;
  background-color:#111111;
  min-width:415px;
  flex:1 100%;
}

.player {
  width:100px;
  height:200px;
  display:inline;
}

.player button {
  width:100px;
  height:200px;
}

#text{
  position: absolute;
  top: 600px;
  left: 200px;
  color: white;
}

.red {
  color:red;
}

.blue {
  color:blue;
}

.green {
  color:green;
}

.white {
  color:white;
}
