body {
background-color: black;
}

#chat-wrapper {
  min-width:275px;
  height:100%;
  border-left:1px solid white;
  order:3;
  flex:1 100%;
}

#chat {
  color:white;
  width:100%;
}

#chat-input {
  bottom:0;
  position:fixed;
  width:100%;
  color:white;
  background-color:black;
}

#game {
  display:flex;
  margin-right: calc(100% - 275px);
}

#board {
  order:1;
  width:800px;
  height:600px;
  background-color:#141414;
}

#players {
  order:2;
  background-color:#111111;
  min-width:415px;
  flex:1 100%;
}

#timer {
  position:fixed;
  left:10;
  top:10;
  color:white;
  font-size:4em;
}

.player {
  width:100px;
  height:200px;
  display:inline;
  float:left;
}

.player button {
  width:100px;
  height:200px;
}

#text{
  position: absolute;
  top: 600px;
  left: 200px;
  color: white;
}

.player-name {
  position:absolute;
  z-index:1;
  font-weight:bold;
  text-shadow:0px 0px 5px #ffffff;
}

.card {
  perspective:1000;
}

.card.hover .flipper, .card.flip .flipper {
  transform:rotateY(180deg);
}

.flipper {
  transition:0.6s;
  transform-style:preserve-3d;
  position:relative;
}

.card, .front, .back {
  width:100px;
  height:200px;
}

.front, .back {
  backface-visibility:hidden;
  position:absolute;
  top:0;
  left:0;
}

.front img {
  position:absolute;
  top:0;
  z-index:-1;
}

.front {
  z-index:2; /* Firefox 31 fix */
  transform:rotateY(0deg);
}

.back {
  transform:rotateY(180deg);
}

.red {
  color:red;
}

.blue {
  color:blue;
}

.green {
  color:green;
}

.white {
  color:white;
}

.j_butt {
    height:50px;
    width:200px;
    text-align:center;
}
